yaml.json
{
  "name": "AI Agent - Read All K8s YAML from GitHub",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "owner": "adamdxc",
        "repository": "n8n",
        "branch": "main",
        "operation": "list",
        "path": ""
      },
      "id": "2",
      "name": "List Repo Files",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "githubApi": {
          "id": "<your_credential_id>",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return items.filter(item => item.json.name.endsWith('.yaml') || item.json.name.endsWith('.yml'));"
      },
      "id": "3",
      "name": "Filter YAML Files",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "={{$json.download_url}}",
        "responseFormat": "string"
      },
      "id": "4",
      "name": "Get YAML Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "prompt": "You are a Kubernetes expert. Explain the following manifest (from file {{$json[\"name\"]}}) in human-readable form:\n\n{{$json[\"body\"]}}"
      },
      "id": "5",
      "name": "AI Agent (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "List Repo Files", "type": "main", "index": 0 }]]
    },
    "List Repo Files": {
      "main": [[{ "node": "Filter YAML Files", "type": "main", "index": 0 }]]
    },
    "Filter YAML Files": {
      "main": [[{ "node": "Get YAML Content", "type": "main", "index": 0 }]]
    },
    "Get YAML Content": {
      "main": [[{ "node": "AI Agent (OpenAI)", "type": "main", "index": 0 }]]
    }
  }
}
